@media (max-width:1600px) {
    .block-sliders.nav-vertical .slick-dots {
    right: 30px;
}
}@media (max-width:1350px) {
    .site-navigation ul>li.level-0 {
    padding: 0 10px;
}
.header-left .site-navigation ul>li.level-0 {
    padding: 0 8px;
}
.header-left .site-navigation ul>li.level-0:first-child {
    padding-left: 0;
}
.header-left .site-navigation ul>li.level-0:last-child {
    padding-right: 0;
}
}@media (max-width:1199px) {
    .section-padding {
    padding: 0 7.5px 0 7.5px;
}
.large-space .row {
    margin: 0 -7.5px;
}
.large-space .row>div {
    padding: 0 7.5px;
}
.column-background-wrap {
    padding: 70px 0 40px 0;
}
.site-header.header-v2 .site-logo {
    margin: 0 30px;
}
body.home .section .block-title h2 {
    font-size: 25px;
}
body.home.title-8 .section .block-title h2 {
    font-size: 35px;
}
.block-sliders .item-content .item-info {
    padding: 0 0 0 100px;
}
.block-sliders .item-content .item-info .title-slider {
    font-size: 51px;
}
.block-sliders.layout-2 .item-content .item-info .button-slider {
    line-height: 40px;
    padding: 0 22px;
}
.block-sliders.layout-2 .item-content .item-info .title-slider {
    font-size: 55px;
    margin-bottom: 16px;
}
.block-sliders.layout-3 .item-content .item-info {
    padding: 0 0 0 100px;
}
.block-sliders.layout-3 .item-content .item-info .title-slider {
    font-size: 45px;
}
.block-sliders.layout-3 .item-content .item-info .description-slider {
    margin-bottom: 25px;
}
.block-sliders.layout-4 .item-content .item-info .title-slider {
    font-size: 40px;
    margin-bottom: 35px;
}
.block-product-cats.round-border .slick-sliders .slick-list {
    margin: 0;
}
.block-sliders.nav-left .slick-dots {
    padding: 0 0 30px 15px;
}
.slick-sliders .slick-list {
    margin: 0 -15px;
}
.slick-sliders .slick-list .slick-slide {
    padding: 0 15px;
}
.block-product-cats.layout-3 .slick-sliders .slick-list {
    margin: 0 -5px;
}
.block-product-cats.layout-3 .item-product-cat {
    padding: 0 5px;
}
.block-product-cats.layout-4 .text-wrap .title {
    font-size: 35px;
    line-height: 42px;
}
.block-intro .intro-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 25px;
}
.block-intro .intro-item {
    margin-bottom: 25px;
}
.block-intro.layout-2 .intro-text {
    font-size: 35px;
}
.block-intro.layout-3 .intro-title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 15px;
}
.block-intro.layout-3 .intro-item {
    margin-bottom: 15px;
}
.block-intro.layout-5 .intro-title {
    font-size: 40px;
    margin-bottom: 20px;
}
.block-intro.layout-6 .intro-title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 10px;
}
.block-intro.layout-7 .intro-title {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 10px;
}
.block-banners.layout-1 .block-widget-banner .banner-wrapper-infor {
    padding: 0 15px 35px 30px;
}
.block-banners.layout-1 .block-widget-banner .banner-wrapper-infor .title-banner {
    font-size: 20px;
}
.block-banners.layout-2 .block-widget-banner .banner-wrapper-infor .title-banner {
    font-size: 25px;
}
.block-banners.layout-3 .block-widget-banner .banner-wrapper-infor, .block-banners.layout-3 .section-column.right .block-widget-banner:first-child .banner-wrapper-infor, .block-banners.layout-3 .section-column.right .block-widget-banner:last-child .banner-wrapper-infor {
    justify-content: center;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 15px 0 15px;
}
.block-banners.layout-3 .block-widget-banner .banner-wrapper-infor .title-banner {
    font-size: 35px;
}
.block-banners.layout-6 .block-widget-banner .banner-wrapper-infor .content .title-banner {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 10px;
    margin-top: 0;
}
.block-banners.layout-7 .block-widget-banner .banner-image {
    margin-bottom: 20px;
}
.block-banners.layout-7 .block-widget-banner .banner-wrapper-infor .title-banner {
    font-size: 20px;
}
.md-content-full-height * {
    height: 100%}
.md-content-full-height .banner-wrapper-infor {
    height: auto;
}
.block-products .products-list>.row {
    margin: 0 -7.5px;
}
.block-products .products-list>.row>div {
    padding: 0 7.5px;
}
.block-product-cats.layout-2 .row {
    margin: 0 -7.5px;
}
.block-product-cats.layout-2 .row>div {
    padding: 0 7.5px;
}
.block-product-cats.layout-2 .row>div:nth-child(even) .cat-item {
    margin-top: 0;
}
.block-product-cats.layout-2 .cat-item .cat-title {
    margin-top: 20px;
}
.block-product-cats.layout-5 .item-product-cat-content .product-cat-content-info {
    padding-bottom: 20px;
}
.block-product-cats.layout-5 .item-product-cat-content .product-cat-content-info .item-title {
    font-size: 17px;
}
.block-instagram .row {
    margin: 0 -7.5px;
}
.block-instagram .row>div {
    padding: 0 7.5px;
}
.block-instagram .right .row:first-child {
    margin-bottom: 15px;
}
.page-about-us .block .block-title h2 {
    font-size: 40px;
}
#site-footer .footer-bottom .footer-right .block-menu ul li {
    margin-left: 10px;
    margin-right: 10px;
}
}@media (min-width:992px) {
    body i.slick-arrow {
    opacity: 0;
    visibility: hidden;
}
body i.slick-arrow:hover {
    cursor: pointer;
    color: #000;
}
.site-header .header-mobile {
    display: none;
}
.home .site-header.header-v1 {
    position: absolute;
    width: 100%}
}
@media (max-width:991px) {
    .site-header.color-white {
    background: #000;
}
.site-header .header-desktop {
    display: none;
}
.md-b-10 {
    margin-bottom: 10px;
}
.md-b-15 {
    margin-bottom: 15px;
}
.md-b-20 {
    margin-bottom: 20px;
}
.md-b-30 {
    margin-bottom: 30px;
}
.md-b-50 {
    margin-bottom: 50px;
}
.section-container.small {
    max-width: none;
}
.section.contact-background {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.site-mobile-navigation, .site-mobile-vertical {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 280px;
    z-index: 999999;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    border-width: 1px 0 0 1px;
    -webkit-transform: translate3d(-280px, 0, 0);
    transform: translate3d(-280px, 0, 0);
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}
.site-mobile-navigation.active, .site-mobile-vertical.active {
    visibility: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 1px 12px 2px hsl(0deg 0% 56% / 30%);
}

.site-mobile-vertical {
    right: 0;
    left: auto;
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
}



.site-mobile-navigation .remove-megamenu, 
.site-mobile-vertical .remove-megamenu {
  padding: 10px;
  z-index: 10;
  cursor: pointer;
  display: none;
  text-align: right;
  display: block;
  padding: 0;
  background: #cb8161;
  padding: 10px 20px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Lato,sans-serif;
}
.site-mobile-navigation .remove-megamenu:after, 
.site-mobile-vertical .remove-megamenu:after {
  content: "\4d";
  font-family: eleganticons;
  color: #fff;
  font-size: 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin-left: 5px;
  position: relative;
  top: 5px;
}
.site-mobile-navigation .mm-menu, 
.site-mobile-vertical .mm-menu {
  background: #fff;
  z-index: 999;
  top: 68px;
}
.site-mobile-navigation .mm-menu .mm-panels>.mm-panel:before {
  height: 10px;
}
.site-mobile-navigation .mm-menu .mm-panels > .mm-panel > .mm-listview, 
.site-mobile-vertical .mm-menu .mm-panels > .mm-panel > .mm-listview {
  margin: 0;
  margin-top: -8px;
}
.site-mobile-navigation .mm-menu .mm-listview, 
.site-mobile-vertical .mm-menu .mm-listview {
  margin: 0;
  padding: 0;
}
.site-mobile-navigation .mm-menu ul > li, 
.site-mobile-navigation .mm-menu ul > li.level-0, 
.site-mobile-vertical .mm-menu ul > li, 
.site-mobile-vertical .mm-menu ul > li.level-0 {
  display: inline-block;
  width: 100%;
  position: relative!important;
  padding-top: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid hsla(0,0%,90%,.5);
}
.site-mobile-navigation .mm-menu .mm-panels > .mm-panel > .mm-listview > li.level-0 > a, 
.site-mobile-navigation .mm-menu .mm-panels > .mm-panel > .mm-listview > li.level-0 > span, 
.site-mobile-vertical .mm-menu .mm-panels > .mm-panel > .mm-listview > li.level-0 > a, 
.site-mobile-vertical .mm-menu .mm-panels > .mm-panel > .mm-listview > li.level-0 > span {
  padding: 0;
  text-align: left;
}
.site-mobile-navigation .mm-menu ul > li.level-0 span.title, 
.site-mobile-navigation .mm-menu ul > li.level-0>a:not(.mm-next), 
.site-mobile-navigation .mm-menu ul > li > a:not(.mm-next), 
.site-mobile-navigation .mm-menu ul > li span.title, 
.site-mobile-vertical .mm-menu ul > li.level-0 span.title, 
.site-mobile-vertical .mm-menu ul > li.level-0 > a:not(.mm-next), 
.site-mobile-vertical .mm-menu ul > li > a:not(.mm-next), 
.site-mobile-vertical .mm-menu ul > li span.title {
  color: #000;
  padding: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.site-mobile-navigation .mm-menu ul > li.current_page_item > a > span.menu-item-text, 
.site-mobile-navigation .mm-menu ul > li.level-0.current_page_item > a > span.menu-item-text, 
.site-mobile-vertical .mm-menu ul > li.current_page_item > a > span.menu-item-text, 
.site-mobile-vertical .mm-menu ul > li.level-0.current_page_item > a > span.menu-item-text {
  font-weight: 500;
  color: #000;
}
.site-mobile-navigation .mm-menu ul > li.level-0 .mm-next, 
.site-mobile-navigation .mm-menu ul > li .mm-next, 
.site-mobile-vertical .mm-menu ul > li.level-0 .mm-next, 
.site-mobile-vertical .mm-menu ul > li .mm-next {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 43px;
  text-align: center;
}
.site-mobile-navigation .mm-menu ul > li.level-0 .mm-next:before, 
.site-mobile-navigation .mm-menu ul > li .mm-next:before, 
.site-mobile-vertical .mm-menu ul > li.level-0 .mm-next:before, 
.site-mobile-vertical .mm-menu ul > li .mm-next:before {
  content: none;
}
.site-mobile-navigation .mm-menu ul > li.level-0 .mm-next:after, 
.site-mobile-navigation .mm-menu ul > li .mm-next:after, 
.site-mobile-vertical .mm-menu ul > li.level-0 .mm-next:after, 
.site-mobile-vertical .mm-menu ul > li .mm-next:after {
  right: 5px;
}
.site-mobile-navigation .mm-menu ul > li.current_page_item > a > span.menu-item-text, 
.site-mobile-navigation .mm-menu ul > li.level-0.current_page_item > a > span.menu-item-text, 
.site-mobile-vertical .mm-menu ul > li.current_page_item > a > span.menu-item-text, 
.site-mobile-vertical .mm-menu ul > li.level-0.current_page_item > a > span.menu-item-text {
  font-weight: 500;
  color: #000;
}
.site-mobile-navigation .mm-menu ul li:after {
  content: none;
} 
.site-mobile-navigation .mm-menu .mm-navbar, 
.site-mobile-vertical .mm-menu .mm-navbar {
  height: 50px;
  line-height: 30px;
  border: none;
}
.site-mobile-navigation .mm-menu .mm-navbar a, 
.site-mobile-vertical .mm-menu .mm-navbar a {
  color: #cb8161;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.site-mobile-navigation .mm-menu .sub-menu .row, 
.site-mobile-vertical .mm-menu .sub-menu .row {
  display: block;
}
.site-mobile-navigation .mm-menu .sub-menu .row > div, 
.site-mobile-vertical .mm-menu .sub-menu .row > div {
  max-width: 100% !important;
}
.site-mobile-navigation .mm-menu .sub-menu .sub-menu-title, 
.site-mobile-vertical .mm-menu .sub-menu .sub-menu-title {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.site-mobile-navigation .mm-menu .sub-menu .sub-menu-title:before, 
.site-mobile-vertical .mm-menu .sub-menu .sub-menu-title:before {
  position: absolute;
  bottom: -1px;
  width: 40px;
  height: 1px;
  background: rgba(0,0,0,.2);
  content: "";
  left: 0;
}
.site-mobile-navigation .mm-menu .sub-menu .menu-section, 
.site-mobile-vertical .mm-menu .sub-menu .menu-section {
  margin-bottom: 40px;
}
.site-mobile-navigation .mm-menu .sub-menu .menu-list, 
.site-mobile-vertical .mm-menu .sub-menu .menu-list {
  padding: 0;
}
.site-mobile-navigation .mm-menu .sub-menu .menu-list li a, 
.site-mobile-vertical .mm-menu .sub-menu .menu-list li a {
  text-transform: none;
}
.site-mobile-navigation .mm-menu .sub-menu .block-posts .post-item,
.site-mobile-vertical .mm-menu .sub-menu .block-posts .post-item {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.site-mobile-navigation .mm-menu .sub-menu .block-posts .post-item .post-content, 
.site-mobile-vertical .mm-menu .sub-menu .block-posts .post-item .post-content {
  padding-left: 12px;
  margin-top: -3px;
}
.site-mobile-navigation .mm-menu .sub-menu .block-posts .post-item .post-image,
.site-mobile-vertical .mm-menu .sub-menu .block-posts .post-item .post-image {
  max-width: 65px;
  flex: 0 0 65px;
  margin-bottom: 6px;
}
.site-mobile-navigation .mm-menu .sub-menu .block-posts .post-item .post-image img,
.site-mobile-vertical .mm-menu .sub-menu .block-posts .post-item .post-image img {
  max-width: 65px;
}
.site-mobile-navigation .mm-menu .sub-menu .block-posts .post-item .post-content .post-title,
.site-mobile-vertical .mm-menu .sub-menu .block-posts .post-item .post-content .post-title {
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 1.2;
} 
.site-mobile-vertical {
  right: 0;
  left: auto;
  -webkit-transform: translate3d(280px,0,0);
  transform: translate3d(280px,0,0);
}
.site-mobile-vertical .remove-verticalmenu {
  display: block;
  padding: 0;
  background: #000;
  padding: 10px 20px 20px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  font-family: Barlow Semi Condensed;
}
.site-mobile-vertical .remove-verticalmenu:after {
  content: "\4d";
  font-family: eleganticons;
  color: #fff;
  font-size: 25px;
  line-height: 25px;
  margin-left: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  display: inline-block;
  position: relative;
  top: 5px;
}



.block-sliders.layout-3 .item-content .item-info .title-slider {
    font-size: 35px;
    margin-bottom: 6px;
}
.block-sliders.layout-3 .item-content .item-info .description-slider {
    margin-bottom: 18px;
}
.block-sliders.layout-5 .item-content .item-info .title-slider {
    font-size: 40px;
}
.block-sliders.layout-5 .item-content .item-info .button-slider {
    line-height: 40px;
}
.block-sliders i.slick-arrow {
    width: 34px;
    height: 34px;
    line-height: 26px;
}
.block-products.slider .content-product-list i.slick-arrow {
    font-size: 16px;
}
.block-product-cats.layout-2 .item-product-cat {
    margin-bottom: 15px;
}
.block-testimonial .slick-arrow {
    font-size: 20px;
}
.products-column {
    order: 2;
}
#site-footer {
    padding-bottom: 52px;
}
#site-footer.four-columns .column-1, #site-footer.four-columns .column-2, #site-footer.four-columns .column-3, #site-footer.four-columns .column-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%}
.back-top {
    bottom: 65px;
    right: 15px;
}
}@media (max-width:767px) {
    .sm-m-0 {
    margin: 0;
}
.sm-p-0 {
    padding: 0;
}
.sm-m-b {
    margin-bottom: 15px;
}
.sm-m-b-15 {
    margin-bottom: 15px;
}
.sm-m-b-20 {
    margin-bottom: 20px;
}
.sm-m-b-30 {
    margin-bottom: 30px;
}
.sm-m-b-40 {
    margin-bottom: 40px;
}
.sm-m-b-50 {
    margin-bottom: 50px;
}
.column-50 {
    width: 100%}
.section-row {
    display: block;
}
body.home .section .block-title {
    margin-bottom: 30px;
}
body.home .section .block-title h2 {
    font-size: 22px;
}
body.home.title-3 .section .block-title h2 {
    font-size: 30px;
}
body.home.title-4 .section .block-title h2 {
    font-size: 32px;
}
body.home.title-4 .section .block-title .sub-title {
    font-size: 11px;
}
body.home.title-7 .section .block-title h2 {
    font-size: 25px;
}
body.home.title-8 .section .block-title h2 {
    font-size: 30px;
}
.block-info .info-wrap .title {
    font-size: 30px;
    margin-bottom: 12px;
}
.block-info .info-wrap .icon svg {
    margin-bottom: 5px;
}
.block-info .info-wrap .icon, body.home.title-3 .section .block-title .title-icon {
    font-size: 36px;
}
.block-sliders .item-content .item-info {
    padding: 0 0 0 57px;
}
.block-sliders.auto-height .item-content .content-image img {
    min-height: 350px;
    object-fit: cover;
}
.block-sliders .item-content .item-info .title-slider {
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 20px;
}
.block-sliders .item-content .item-info .button-slider {
    line-height: 40px;
}
.block-sliders.layout-2 .item-content .item-info .title-slider {
    font-size: 45px;
}
.block-sliders.layout-3 .item-content .item-info {
    padding: 0 15px;
}
.block-sliders.layout-3 .item-content .item-info .content {
    max-width: none;
}
.block-sliders.layout-3 .item-content .item-info .title-slider {
    font-size: 30px;
    line-height: 38px;
}
.block-sliders.layout-3 .item-content .item-info .button-slider {
    line-height: 40px;
    padding: 0 22px;
}
.block-sliders.layout-4 .item-content .item-info .title-slider {
    font-size: 30px;
    margin-bottom: 25px;
}
.block-sliders.layout-5 .item-content .item-info .title-slider {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}
.block-sliders .slick-dots {
    padding: 0 0 40px 0;
    text-align: center;
}
.block-sliders.nav-center .slick-dots {
    padding: 0 0 40px 0;
}
.section-column.left, .section-column.right {
    width: 100%}
.block-banners.layout-1 .section-column, .block-banners.layout-1 .section-column.center {
    max-width: 100%;
    flex: 0 0 100%;
    justify-content: center;
}
.block-banners.layout-1 .block-widget-banner .banner-wrapper-infor {
    justify-content: center;
    text-align: center;
}
.block-banners.layout-3 .row .section-column {
    width: 100%;
    text-align: center;
}
.block-banners.layout-3 .row .section-column.left {
    margin-bottom: 15px;
}
.block-banners.layout-3 .row .section-column.right .section-column-inner .block-widget-banner:first-child {
    text-align: center;
    margin-bottom: 15px;
}
.block-banners.layout-3 .block-widget-banner .banner-wrapper-infor, .block-banners.layout-3 .section-column.right .block-widget-banner:first-child .banner-wrapper-infor, .block-banners.layout-3 .section-column.right .block-widget-banner:last-child .banner-wrapper-infor {
    bottom: 0;
    transform: translateY(0);
    top: auto;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 15px 50px 15px;
    text-align: center;
}
.block-banners.layout-3 .block-widget-banner .banner-wrapper-infor .title-banner {
    font-size: 30px;
}
.block-banners.layout-4 .block-widget-banner .banner-wrapper-infor .content .title-banner {
    font-size: 20px;
    margin-top: 20px;
}
.block-banners.layout-4 .block-widget-banner .banner-wrapper-infor .content .banner-image-description {
    margin-bottom: 16px;
}
.block-banners.layout-6 .block-widget-banner .banner-wrapper-infor .content .title-banner {
    font-size: 40px;
    line-height: 45px;
}
.block-banners.layout-7 .block-widget-banner .banner-wrapper-infor .content {
    text-align: center;
}
.block-product-cats.layout-4 .text-wrap {
    margin-bottom: 30px;
    text-align: center;
}
.block-product-cats.layout-4 .text-wrap .sub-title {
    margin: 0 0 10px 0;
}
.block-product-cats.layout-4 .text-wrap .title {
    margin-bottom: 20px;
}
.block-product-cats.layout-5 .section-column.center, .block-product-cats.layout-5 .section-column.center .section-column, .block-product-cats.layout-5 .section-column.left, .block-product-cats.layout-5 .section-column.right {
    width: 100%;
    justify-content: center;
}
.block-intro.layout-3 .intro-title {
    font-size: 30px;
    line-height: 36px;
}
.block-testimonial.layout-1 .testimonial-content .item .testimonial-excerpt {
    font-size: 24px;
    line-height: 32px;
    padding: 0 15px;
}
.block-intro .section-column.left, .block-intro .section-column.right {
    width: 100%}
.block-intro .intro-wrap {
    text-align: center;
    padding: 70px 15px;
}
.block-intro .intro-item {
    display: block;
}
.block-intro .intro-title {
    font-size: 25px;
    line-height: 32px;
}
.block-intro .intro-item .icon {
    margin-right: 0;
    margin-bottom: 12px;
}
.block-intro.layout-2 .intro-text {
    font-size: 30px;
    line-height: 35px;
}
.block-intro.layout-3 .section-column.left, .block-intro.layout-3 .section-column.right {
    width: 100%;
    display: block;
    text-align: center;
}
.block-intro.layout-3 .intro-wrap {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
.block-intro.layout-4 .section-column.right {
    justify-content: center;
    padding-left: 0;
    padding-top: 40px;
}
.block-intro.layout-4 .intro-title {
    font-size: 30px;
    line-height: 36px;
}
.block-intro.layout-4 .intro-item {
    margin-bottom: 22px;
}
.block-intro.layout-5 .intro-icon {
    font-size: 40px;
    margin-bottom: 5px;
}
.block-intro.layout-5 .intro-title {
    font-size: 30px;
    margin-bottom: 12px;
}
.block-intro.layout-6 .section-column.left, .block-intro.layout-6 .section-column.right {
    width: 100%}
.block-intro.layout-6 .intro-title {
    font-size: 22px;
    line-height: 30px;
}
.block-intro.layout-6 .intro-wrap {
    max-width: none;
}
.block-intro.layout-6 .section-column .intro-image.left {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.block-intro.layout-6 .section-column .intro-image.right {
    text-align: center;
}
.block-intro.layout-7 .section-column.left, .block-intro.layout-7 .section-column.right {
    width: 100%;
    display: block;
    text-align: center;
}
.block-intro.layout-7 .intro-title {
    font-size: 22px;
    line-height: 30px;
}
.block-intro.layout-7 .intro-wrap {
    max-width: none;
    margin-top: 20px;
}
.products-list.list .product-wapper {
    margin-bottom: 50px;
}
.products-list.list .product-wapper .products-content .product-title {
    margin-top: 16px;
}
.products-list.list .product-wapper .products-content .product-description {
    padding-top: 0;
    margin-top: 10px;
    border-top: none;
}
.products-list.list .product-wapper .products-content .rating {
    margin-bottom: 20px;
}
.page-about-us .block .block-title {
    margin-bottom: 40px;
}
.page-about-us .block .block-title h2 {
    font-size: 30px;
}
.page-about-us .block .block-title .sub-title {
    font-size: 18px;
    line-height: 1.4;
}
.page-404 .content-page-404 .sub-title {
    font-size: 30px;
}
#site-footer .footer-bottom .footer-left, #site-footer .footer-bottom .footer-right {
    text-align: center;
    margin-bottom: 12px;
}
#site-footer .footer-bottom .footer-right {
    margin-bottom: 0;
}
#site-footer .footer-bottom .footer-right .block-menu ul li:first-child {
    margin-left: 10px;
}
#site-footer .footer-bottom .footer-right .block-menu ul li:last-child {
    margin-right: 10px;
}
#site-footer.four-columns .column-1, #site-footer.four-columns .column-2, #site-footer.four-columns .column-3, #site-footer.four-columns .column-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%}
    .block-sliders i.slick-arrow.fa-angle-left {
        left: 14px;
    }

    .block-sliders i.slick-arrow.fa-angle-right {
        right: 15px;
    }
}@media (max-width:480px) {
    .button-outline {
    padding: 0 20px;
    line-height: 30px;
}
.block-sliders.layout-2 .item-content .item-info .title-slider {
    font-size: 35px;
}
.block-sliders.layout-4 .item-content .item-info .title-slider {
    font-size: 24px;
    margin-bottom: 20px;
}
.block-banners.layout-2 .block-widget-banner .banner-wrapper-infor .title-banner {
    font-size: 22px;
    margin-bottom: 4px;
}
.block-banners.layout-2 .block-widget-banner .banner-wrapper-infor .banner-image-description {
    font-size: 0;
    margin-bottom: 10px;
}
.block-contact-info .info-title {
    margin-bottom: 40px;
}
.block-contact-info .info-title h2 {
    font-size: 28px;
}
.block-contact-form .block-title {
    margin-bottom: 30px;
}
.block-contact-form .block-title h2 {
    font-size: 26px;
}
.page-404 .content-page-404 .sub-title {
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.page-404 .content-page-404 .button {
    font-size: 12px;
}
}@media (min-width:1500px) {
    .block-sliders .item-content .item-info .title-slider {
    font-size: 66px;
}
.banner-section .logo {
    height: 151px;
}
.banner-section .content .button-slider {
    margin-bottom: 40px;
}
.block-sliders.auto-height .item-content .content-image img {
    max-height: 800px;
}
.block-sliders .item-content .item-info.vertical-middle {
    transform: translateY(-41%);
}
.site-navigation ul>li.level-0 {
    padding-right: 25pt;
    padding-left: 25pt;
}
}@media (min-width:992px) {
    .gift-section p, .perfect-jewlery p {
    width: 70%;
    text-align: center;
    place-items: center;
    margin: 0 auto;
}
}@media (max-width:991px) {
    .banner-section .content p {
    display: none;
}
.banner-section .banner-small-img {
    display: none;
}
.slider-right-img img {
    display: none!important;
}
.customized-section h2.intro-title {
    width: 100%}
}@media (min-width:992px) and (max-width:1200px) {
    .banner-section .content p {
    display: none;
}
.site-search input {
    font-size: 12px;
    width: 110px;
}
[class~=site-navigation] ul>li[class~=level-0]>a {
    font-size: 12px;
}
.site-navigation ul>li.level-0 {
    padding: 0 9px;
}
.gold-rate p {
    font-size: 12px;
}
.collection .button
{  
    padding: 0px 10px;
}
}@media (min-width:992px) and (max-width:1300px) {
    .banner-small-img img {
    width: 137px;
}
.block-sliders .item-content .item-info .title-slider {
    font-size: 42px!important;
}
.slider-right-img img {
    width: 345px!important;
}
}
@media (min-width:400px) and (max-width:767px) 
{
.gift-section .section-column.left,.gift-section .section-column.right
{
    width: 100% !important;
}
.gift-section .section-column.left .item-product-cat,.gift-section .section-column.right .item-product-cat
{
    width: 100%;
}
.gift-section .section-column.center
{
    width: 100% !important;
}
.gift-section .section-column.center .section-column
{
    width: 50% !important;
}
.gift-section .section-column.center .section-column.full 
{
    width: 100% !important;
}
}
@media (min-width:576px) and (max-width:700px) 
{
    .block-banners.layout-2 .block-widget-banner .banner-wrapper-infor .title-banner {
        font-size: 20px;
    }
    .collection .button
    {        padding: 0px 4px;
        font-size: 10px !important;
    }
}
/* Responsive design for large screens */
@media (min-width: 768px) {
    .form-box .contact-us-form .col-sm-6 {
         width: 48%; /* Maintain 2-column layout for medium screens */
     }
   }
   @media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
    
    .form-box {
        min-width: 100%;
    }
}

/* Adjust form container layout for smaller screens */
@media (max-width: 768px) {
    .content-box.form-box {
        width: 100%; /* Make the form take up full width on small screens */
        margin: 0 auto;
    }
  
   .form-box .contact-us-form .row {
        margin-bottom: 15px;
    }
  
   .form-box .contact-us-form .col-sm-6,
   .form-box .contact-us-form .col-sm-12 {
        width: 100%; /* Stack form fields vertically */
        margin-bottom: 10px;
    }
  
   .form-box .contact-us-form input[type="text"],
   .form-box .contact-us-form input[type="email"],
   .form-box .contact-us-form input[type="tel"],
  .form-box  .contact-us-form input[type="file"],
   .form-box .contact-us-form textarea {
        width: 100%; /* Make input fields take up full width */
    }
  
    .form-box .content-box h3 {
        font-size: 18px; /* Adjust heading size for smaller screens */
    }
  
   .form-box .form-button input[type="submit"] {
        width: 100%; /* Make the submit button full width on small screens */
    }
  
   .form-box  .block-title h2 {
        font-size: 24px; /* Adjust heading size */
    }
  
   .form-box .sub-title {
        font-size: 16px;
    }
  }
  
  
  